.background {
    background-image: url('https://www.willemsefrance.fr/cdn/shop/files/banniere_Conseils_pour_choisir_les_arbres_adaptes4_ecd278e8-4f85-43b6-8243-e4de8683d0d1.jpg?v=1734075692&width=1500');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Taille et alignement */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pour occuper toute la hauteur de l'écran */
    padding: 20px;
}

form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #28a745;
}

/* Centrage du bouton "Page d'accueil" */
button[routerLink=""] {
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
}
