<p>Welcome on the Greenhouses page</p>

<form #commentForm="ngForm" class="comment-form">
    <div class="form-group">
      <label for="content">Contenu :</label>
      <textarea id="content" name="content" [(ngModel)]="name" required #contentRef="ngModel" class="form-control"></textarea>
      <div *ngIf="contentRef.invalid && contentRef.touched" class="error-message">
        Le contenu est requis !
      </div>
    </div>
    <button (click)="createGreenhouse()" [disabled]="commentForm.invalid" class="submit-button">Créer une Greenhouse</button>
</form>

<table class="comment-table">
  <thead>
    <tr>
      <th>Nom de la greenhouses</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let greenhouse of greenhouses">
      <td>{{ greenhouse.name }}</td>
    </tr>
  </tbody>
</table>