<h2>Test du composant Topic</h2>

<form #commentForm="ngForm" class="comment-form">
  <div class="form-group">
    <label for="content">Contenu :</label>
    <textarea id="content" name="content" [(ngModel)]="content" required #contentRef="ngModel" class="form-control"></textarea>
    <div *ngIf="contentRef.invalid && contentRef.touched" class="error-message">
      Le contenu est requis !
    </div>
  </div>

  <button (click)="newComment()" [disabled]="commentForm.invalid" class="submit-button">Créer un commentaire</button>
</form>

<table class="comment-table">
  <thead>
    <tr>
      <th>Contenu</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of comments">
      <td>{{ comment.content }}</td>
      <td>{{ comment.date.toDate() | date: 'dd/MM/YYYY hh:mm:ss' }}</td>
    </tr>
  </tbody>
</table>
