<h2>Test du composant Topic</h2>

<form #commentForm="ngForm">
  <label for="content">Contenu :</label>
  <textarea id="content" name="content" [(ngModel)]="content" required #contentRef="ngModel"></textarea>
  <div *ngIf="contentRef.invalid && contentRef.touched" style="color: red;">
    Le contenu est requis !
  </div>

  <button (click)="newComment()" [disabled]="commentForm.invalid">Créer un sujet</button>
</form>

<table>
  <thead>
    <tr>
      <th>Contenu</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of comments">
      <td>{{ comment.content }}</td>
      <td>{{ comment.date.toDate() | date: 'dd/MM/YYYY hh:mm:ss' }}</td>
    </tr>
  </tbody>
</table>
