<h2>Test du composant Topic</h2>

<form #topicForm="ngForm" class="topic-form">
  <div class="form-group">
    <label for="title">Titre :</label>
    <input id="title" type="text" name="title" [(ngModel)]="title" required #titleRef="ngModel" class="form-control">
    <div *ngIf="titleRef.invalid && titleRef.touched" class="error-message">
      Le titre est requis !
    </div>
  </div>

  <div class="form-group">
    <label for="content">Contenu :</label>
    <textarea id="content" name="content" [(ngModel)]="content" required #contentRef="ngModel" class="form-control"></textarea>
    <div *ngIf="contentRef.invalid && contentRef.touched" class="error-message">
      Le contenu est requis !
    </div>
  </div>

  <button (click)="newTopic()" [disabled]="topicForm.invalid" class="submit-button">Créer un sujet</button>
</form>

<table class="topic-table">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Contenu</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let topic of topics">
      <td>{{topic.title}}</td>
      <td>{{topic.content}}</td>
      <td>{{topic.date.toDate()| date:'dd/MM/YYYY hh:mm:ss'}}</td>
    </tr>
  </tbody>
</table>
