<form #topicForm="ngForm" class="topic-form">
  <div class="form-group">
      <label for="title">Title:</label>
      <input id="title" type="text" name="title" [(ngModel)]="title" required #titleRef="ngModel" class="form-control">
      <div *ngIf="titleRef.invalid && titleRef.touched" class="error-message">
          Title is required!
      </div>
  </div>

  <div class="form-group">
      <label for="content">Content:</label>
      <textarea id="content" name="content" [(ngModel)]="content" required #contentRef="ngModel" class="form-control"></textarea>
      <div *ngIf="contentRef.invalid && contentRef.touched" class="error-message">
          Content is required!
      </div>
  </div>

  <button (click)="newTopic()" [disabled]="topicForm.invalid" class="submit-button">Create Topic</button>
</form>

<table class="topic-table">
  <thead>
      <tr>
          <th>Title</th>
          <th>Date</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let topic of topics">
          <td>{{topic.title}}</td>
          <td>{{topic.date.toDate()| date:'dd/MM/YYYY H:mm:ss'}}</td>
          <td><button [routerLink]="['/topic', topic.id]" class="details with-icon">View Details</button></td>
      </tr>
  </tbody>
</table>