<div>
  Les infomations sur la plante sont :
  <ul>
    <li *ngFor="let plant of myPlant">
      <div>Nom :{{ plant.common_name }}</div>
      <div>Id :{{ plant.id }} </div>
      <div>Nom scientifique :{{ plant.scientific_name }}</div>
    </li>
  </ul>
  <form>
    <label>Email :</label>
    <input type="email" [(ngModel)]="email" name="nom">
    <br>
    <label>Password :</label>
    <input type="text" [(ngModel)]="password" name="email">
    <br>
    <button type="submit" (click)="createUser(email, password)">Soumettre</button>
  </form>
</div>
