<div class="connexion">
    <form>
        <label>Email:</label>
        <input type="email" [(ngModel)]="email" name="nom" #emailField="ngModel">
        <br>
        <label>Password:</label>
        <input type="password" [(ngModel)]="password" name="email">
        <br>
        <button type="submit" (click)="connection(email, password)">Log in</button>
        
        @if(emailField.errors?.['email'] && emailField.touched){
            <p class="error-message">Invalid Email</p>
        }
        <p class="erreur">{{message}}<br></p>
        
        <div class="google-auth-section">
            <p class="google-auth-text">Log in with Google</p>
            <div class="auth-buttons">
                <img src="/assets/google-icon.png" alt="Google" (click)="signInWithGoogle()">
            </div>
        </div>
    </form>
    
    <div class="bottom-part">
        <p>Not registered yet?</p>
        <button [routerLink]="'/inscription'">Sign up</button>
    </div>
</div>