<div *ngIf="End; else affichage" class="ngif">
    <p>Chargement des données en cours...</p>
    <mat-spinner class="spinner" ></mat-spinner>
</div>
<ng-template #affichage>
    <p>Voici la liste des plantes disponibles : </p>
    <table>
        <thead>
        <tr>
            <th>Commun_name</th>
            <th>Scientific_name</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let plant of plants">
            <td>{{ plant.common_name }}</td>
            <td>{{ plant.scientific_name }}</td>
            <td><img [src]="plant.image_url"></td>
            <td><button [routerLink]="'/infosPlantes' " (id)="plant.id" >Infos</button></td>
        </tr>
        </tbody>
    </table>
</ng-template>
