<div *ngIf="End; else affichage">
    <mat-spinner></mat-spinner>
</div>

<ng-template #affichage>
    <mat-form-field class="dropdown">
        <mat-label>Select Greenhouse</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="greenhouse">
            @for (greenhouse of greenhouses; track greenhouse) {
                <mat-option [value]="greenhouse.name">{{greenhouse.selectedName}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <div class="custom-popup" *ngIf="showPopup" @fadeInOut>
        <div class="popup-content">
            <span>{{popupText}}</span>
            <button (click)="showPopup = false">OK</button>
        </div>
    </div>

    <div class="gallery"> 
        <div class="image-card" *ngFor="let item of plants">
            <div [routerLink]="['/infosPlantes', item.id]">
                <img [src]="item.image_url">
                <div class="common-name">{{ item.common_name }}</div>
                <div class="scientific-name">{{ item.scientific_name }}</div>
            </div>
            <button (click)="triggerAction('greenhouse', item.id)">Add to Greenhouse</button>
            <button (click)="triggerAction('favorite', item.id)">Add to Favorites</button>
        </div> 
    </div>
</ng-template>

